<br><br>
<div style="width: 400px; margin:auto;" *ngIf="formVisibility; else signUpForm">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <button class="nav-link active" (click)="changeSignInVisibility()">Sign In</button>
  </li>
  <li class="nav-item">
    <button class="nav-link"  (click)="changeSignUpVisibility()">Sign Up</button>
  </li>
</ul>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password">
  </div>
  <br>
  <button type="submit" class="btn btn-primary" (click)="login()">Sign In</button>
</div>

<ng-template #signUpForm>
  <div style="width: 400px; margin:auto;">
    Sign Up Form is here
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <button class="nav-link"  (click)="changeSignInVisibility()">Sign In</button>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Sign Up</a>
      </li>
    </ul>

    <div class="form-group">
      <label for="exampleInputName">Name</label>
      <input type="email" class="form-control" [(ngModel)]="name" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="signup()">Sign Up</button>
  </div>
</ng-template>
