<div class="float-end" style="padding-right: 50px; padding-top: 10px;">
  <a [routerLink]="['/upload', albumId]" class="btn btn-outline-success">
    Upload pictures
  </a>
</div>
<br>
<div class="float-end" style="padding-right: 50px; padding-top: 10px;">
  <a [routerLink]="['/albums/recent']" class="btn btn-outline-success">
    Go to recent albums
  </a>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-3 pt-3" *ngFor="let photo of photos; let i=index;">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="photo.photoUrl" alt="Card image cap" width="280px;" height="280px;">
      <div class="card-body">
        <h5 class="card-title">{{photo.createdBy}}</h5>
        <a [routerLink]="['/photo', photo.id]" class="btn btn-primary">Go to Photo</a>
      </div>
    </div>
  </div>
</div>
